@page "/"
@using CodingSimplified.ToDoApplication.Pages.Components
<div class="row">
    <div class="col-6">
        <ToDo HeaderName="Daily Task" Caption="Determined"></ToDo>
    </div>
    <div class="col-6">
        <ToDo HeaderName="Monthy Task" Caption="Committed"></ToDo>
    </div>
</div>
